header {
    height: 200px;
    background-color: cadetblue;
  }

  .logo, .badge {
    background-color: coral;
  }

  nav {
    height: 80px;
    background-color: darkgoldenrod;
  }

  aside {
    height: 1000px;
    background-color: lightslategray;
  }

  .article1, .article2, .article3 {
    height: 400px;
    background-color: deeppink;
  }

  .article4 {
    height: 600px;
    background-color: greenyellow ;
  }

  footer {
    height: 200px;
    background-color: cadetblue;
  }
